*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

input{
    border-radius: 0% !important;
}
body {
    background-image: url("3.gif") ;
    
    
}
.fontcolor {
    color: cyan;
    background-color: black;

}
.form-group {
    color: cyan;
    
}
tbody {
    color: cyan;
}
.placeholder{
    background-color: azure;
}
div {
    color: cyan;
    font-style: italic;
}